{% import 'macros.html' as macro%}{% extends 'base.html'%} {% import 'macros.html' as macro%} {% block content %}


<title>{{ title }}</title>

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"> {% endblock %}

<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold"> {{ message }}</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">{{ click_bait }}</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="scribble">Lets Start</a>
            </div>
        </div>
    </div>
</div>

{% endblock%}