<html>



<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Scribble </title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-md  fixed-top maine-menu">
        <div class="container">
            <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"> <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
            <div id="my-nav" class="collapse navbar-collapse">

            </div>
        </div>
    </nav>
    <div class="container-fluid fh5co-home-banner">
        <div class="card"> <img class="card-img" src="../static/assets/img/scribble.jpg" alt="">
            <div class="card-img-overlay">
                <div class="center-text">
                    <h2 class="card-title">In life, you only have 60 seconds to impress someone. 1 minute can make or break you</h2>
                    <a href="scribble.html" class="btn">
                        <svg width="201" height="51" viewBox="0 0 201 51">
                    <defs>
                        <style>
                        .cls-1 {
                        fill: none;
                        stroke-width: 1px;
                        stroke: url(#linear-gradient);
                        }
                    </style>
                    <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#e90e65"/>
                        <stop offset="1" stop-color="#fff"/>
                    </linearGradient>
                    </defs>
                    <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5" width="200" height="50" rx="25" ry="25"/>
                </svg> Scribble
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid p-0 pr-0">

        <div class="copy pt-4 pb-4">
            <p><a href="https://brayokenya.github.io/My_Portifolio/" target="_blank"> &copy; 2020 Scribble</a> &nbsp; | &nbsp; Design by <a href="https://brayokenya.github.io/My_Portifolio/" target="_blank">Brian Kiiru 💻 🧠 </a> &nbsp; | &nbsp; All rights
                reserved
            </p>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/main.js"></script>

</body>

</html>